<div class="col-md-4 offset-md-2">
  <div class="card">
    <div class="card-body">
      <form action="">
        <div class="form-group">
          <input type="text" name="nombre" [(ngModel)]="game.nombre" placeholder="Nombre" class="form-control" autofocus>
        </div>
        <div class="form-group">
          <input name="categoria" [(ngModel)]="game.categoria" rows="2" placeholder="Categoria" class="form-control">
        </div>
        <div class="form-group">
          <input name="" [(ngModel)]="game.cantidad" type="number" rows="2" placeholder="Cantidad" class="form-control">
        </div>
        <div class="form-group">
          <input name="precio" [(ngModel)]="game.precio" rows="2" type="number" placeholder="Precio" class="form-control">
        </div>
       
       
        <button class="btn btn-success btn-block" (click)="edit ? updateGame() : saveNewGame()">
          Save
        </button>
      </form>
    </div>
  </div>
</div>

<div class="col-md-4">
  <div class="card card-body text-center">
    <h3>{{game.id}}- {{game.nombre == '' ? 'Nombre' : game.categoria}}</h3>
    <p>{{game.cantidad == '' ? 'Descripcion' : game.precio}}</p>
    <p>{{game.fecha_registro | date: 'yyyy-MM-dd'}}</p>
  </div>
</div>