<div class="col-md-4" *ngFor="let game of games">
  <div class="card text-center">
    <div class="card-header bg-dark text-white d-flex justify-content-between align-items-center">
      {{game.nombre}}
      <button class="btn btn-danger" (click)="deleteGame(game.id)">
        <i class="far fa-trash-alt"></i>
      </button>
    </div>
    <div class="card-body">
      <p>${{game.precio}}</p>
      <p>{{game.cantidad}}</p>
      <p>{{game.categoria}}</p>
      <p>Ingreso {{game.fecha_registro | date: 'dd-MMMM-yyyy'}}</p>

      <a [routerLink]="['/games/edit', game.id]" class="btn btn-info btn-block">
        Editar
      </a>
    </div>
  </div>
</div>